<div class="row">
    <div class="container">
        <div class=" m-5">


            <div class=" border border-primary jumbotron jumbotron-fluid m-lg-5">
                <div class="container">
                    <h1 class="display-4">Encontre o assassino</h1>
                    
                    <p class="lead">
                        O empresário Sean Bean foi assassinado e o corpo dele foi deixado na frente da delegacia de polícia. O Inspetor Jacques Clouseau foi escolhido para investigar este caso. Após uma série de investigações, ele organizou uma lista com prováveis assassinos, os locais do crime e quais armas poderiam ter sido utilizadas
                        ,você pode ajudar na solução, informando o suposto assassino, o local e a arma.
                        
                    </p>
                    <div class="row">
                        @Html.ActionLink("Iniciar", "FindSuspect", "Home", null, new { @class = "btn btn-success ml-2" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>